<!DOCTYPE html>

<html>

<head>

    <title>GRE Vocabulary Chatbot</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

    <h1>GRE Vocabulary Chatbot</h1>

    <div id="chat-box">

        <div class="bot-message">

            Hello! Enter a GRE word to get its meaning.

        </div>

    </div>

    <div class="input-area">

        <input type="text" id="word-input" placeholder="Enter a GRE word">

        <button id="ask-btn">Ask</button>
        <button id="quiz-btn">Quiz me</button>
        

    </div>

</div>
<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>